/* CSS Custom Properties (variables) */
:root {
    --slide-1-bg: #5b9ab0;
    --slide-2-bg: #785d8a;
    --slide-3-bg: #5465b3;
    --slide-4-bg: #13acaf;

    --slide-1-link: #205163;
    --slide-2-link: #33233D;
    --slide-3-link: #B39642;
    --slide-4-link: #B05B27;
}

/* Body */
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #fff;
}

/* Slider */
.slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
}

/* Slide */
.slide {
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    transition: transform 1000ms cubic-bezier(0.85, 0, 0.15, 1); 
    padding: 3rem;
}

.slide img {
    max-width: 110vw;
}

@media screen and (min-width: 1200px) {
    .slide {
        padding: 0 0 0 10rem;
        justify-content: space-between;
        flex-direction: row;
        text-align: left;
    }    

    .slide img {
        max-height: 100vh;
    }
}

.slide h1 {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.slide h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.slide a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
}

    .slide a:hover {
        border-color: #fff;
        color: #fff;
        background-color: transparent !important;
    }

#slide-1 {
    background-color: var(--slide-1-bg);
    left: 0;
}

#slide-2 {
    background-color: var(--slide-2-bg);
    left: 100%;
}

#slide-3 {
    background-color: var(--slide-3-bg);
    left: 200%;
}

#slide-4 {
    background-color: var(--slide-4-bg);
    left: 300%;
}

#slide-1 a { background-color: var(--slide-1-link); }
#slide-2 a { background-color: var(--slide-2-link); }
#slide-3 a { background-color: var(--slide-3-link); }
#slide-4 a { background-color: var(--slide-4-link); }

#slide-radio-1:checked ~ .slide { transform: translate3d(0, 0, 0); }
#slide-radio-2:checked ~ .slide { transform: translate3d(-100%, 0, 0); }
#slide-radio-3:checked ~ .slide { transform: translate3d(-200%, 0, 0); }
#slide-radio-4:checked ~ .slide { transform: translate3d(-300%, 0, 0); }

/* Pagination */
.pagination {
    z-index: 1;
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    display: flex;
}

    .pagination label {
        width: 24px;
        height: 24px;
        padding: 16px;
        opacity: .3;
        cursor: pointer;
        position: relative;
        transition: opacity .3s ease-in-out;
    }

        .pagination label:hover {
            opacity: .8;
        }

        .pagination label::before,
        .pagination label::after {
            content: '';
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
        }

        .pagination label::before {
            width: 8px;
            height: 8px;
            background-color: #fff;
        }

        .pagination label::after {
            width: 24px;
            height: 24px;
            border: 1px solid #fff;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }

#slide-radio-1:checked ~ .pagination label:nth-child(1),
#slide-radio-2:checked ~ .pagination label:nth-child(2),
#slide-radio-3:checked ~ .pagination label:nth-child(3),
#slide-radio-4:checked ~ .pagination label:nth-child(4) {
    opacity: .8;
}

#slide-radio-1:checked ~ .pagination label:nth-child(1)::after,
#slide-radio-2:checked ~ .pagination label:nth-child(2)::after,
#slide-radio-3:checked ~ .pagination label:nth-child(3)::after,
#slide-radio-4:checked ~ .pagination label:nth-child(4)::after {
    opacity: 1;
}